name: archiman
description: A simple project to show preferred architecture.
publish_to: 'none'
version: 0.0.1+1

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Core
  get_it: ^7.2.0
  flutter_bloc: ^8.0.1
  freezed_annotation: ^2.0.3
  kt_dart: ^0.10.0
  logging: ^1.0.2
  universal_io: ^2.0.4
  intl: ^0.17.0  
  dio: ^4.0.6

  # Firebase
  firebase_core: ^1.17.1
  firebase_crashlytics: ^2.8.1
  firebase_analytics: ^9.1.9

  # UI
  auto_localized: ^1.3.0
  device_preview: ^1.0.0
  flutter_svg: ^1.0.3
  flutter_svg_provider: ^1.0.3
  optimized_cached_image: ^3.0.0
  lottie: ^1.3.0
  timeago: ^3.2.2
  phonenumbers_core: ^1.0.0
  phone_number: ^0.12.0+2
  webview_flutter: ^3.0.4

  # Services
  shared_preferences: ^2.0.15
  package_info_plus: ^1.4.2
  volume_controller: ^2.0.3
  just_audio: ^0.9.24
  audio_session: ^0.1.7
  flutter_blue_elves: ^0.1.9
  pdfx: ^2.0.1+2
  permission_handler: ^9.2.0
  image_picker: ^0.8.5+3
  file_picker: ^4.6.0
  speech_to_text: ^5.5.0
  flutter_contacts: ^1.1.4
  network_info_plus: ^2.1.3
  url_launcher: ^6.1.2
  share_plus: ^4.0.4
  location: ^4.4.0
  flutter_cache_manager: ^3.3.0
  device_info_plus: ^3.2.3
  path_provider: ^2.0.10
  app_settings: ^4.1.6 # Wait for support for Flutter 3

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: ^2.1.11
  freezed: ^2.0.3+1
  json_serializable: ^6.2.0
  auto_localized_generator: ^1.3.0
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/animations/
    - assets/images/
    - assets/svgs/

# flutter pub run flutter_launcher_icons:main
flutter_icons:
  android: true
  ios: true
  image_path_android: "resources/app_icon/app_icon_android.png"
  image_path_ios: "resources/app_icon/app_icon_ios.png"

# flutter pub run flutter_native_splash:create
# flutter pub run flutter_native_splash:remove
flutter_native_splash:
  color: "#F6F6F6"

# Spider used to generate asset fields
# flutter pub global activate spider
# spider create
# spider build --watch
