<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaciula.archiman">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:name=".infrastructure.util.ReleaseArchimanApplication"
        tools:replace="android:name">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a3b16d33bd80b789c24cf5009158acddd7dec962" />
    </application>
</manifest>
