<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaciula.archiman">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infrastructure.ArchimanApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/all_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.screen.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
