<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kaciula.archiman">

    <!-- Needed for sharing logs from dev drawer -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".infrastructure.util.DevReleaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        tools:replace="android:name" />
</manifest>
